*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #000;
    color: #fff;
    overflow-x: hidden;
}
body.open{
    overflow-y: hidden;
}
section{
    margin: 150px 0;
}
section.about{
    margin-top: -6%;
}
/* Nav Bar */
.nav{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}
.nav.open{
    transform: translateX(0%);
}
.nav ul{
    display: flex;
    flex-direction: column;
}
.nav ul li{
    list-style: none;
    margin: 20px;
}
.nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px black,
                5px 5px 10px black;
}
/* Animation styling for on hover over nav links */
.nav ul li a::before{ 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    text-align: center;
    font-size: 8rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #b344d4, #04c4c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    opacity: 0;
    line-height: 100vh;
    transition: 2s;
}
.nav ul li:hover a::before{
    opacity: 1;
}

.menu-toggle{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 30px;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
}
.bar{
    background: linear-gradient(to right, #b344d4, #04c4c4);
    width: 100%;
    height: 4px;
    border-radius: 10px;
}
.bar .bar-start{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}
.bar-start.open{
    transform: rotate(45deg) translateY(10px);
}
.bar .bar-end{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}
.bar-end.open{
    transform: rotate(-45deg) translateY(-10px);
}
.bar-mid.open{
    display: none;
}
/* End Nav Bar */

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 30px;
}
.name{
    display: flex;
    
}
.name h1{
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 3px;
    font-size: 7rem;
    background: linear-gradient(to right, #b344d4, #04c4c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name h1::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5s linear forwards;
}
/* Animation for name */
@keyframes animate{
    0%{
        left: -20%;
    }
    100%{
        left: 120%;
    }
}


.container{
    width: 60%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.about .container{
    display: flex; 
    align-items: center;
    justify-content: center;
}

/* Section Headings */
.section-heading{
    text-align: center;
    line-height: 0;
    margin: 6rem 0;
}
.section-heading h1{
    font-size: 5rem;
    color: #b344d4;
    
}
.section-heading h6{
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-shadow: 5px 5px 5px black,
                5px 5px 10px black;
}
/* End Section Headings */

/* Portfolio */
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.portfolio-img img{
    width: 250px;
    height: 200px;
    border-radius: 8px;
}
.portfolio-desc{
    text-align: center;
}
.portfolio-desc h6{
    font-size: 1.5rem;
    font-weight: 300;
    color: #04c4c4;
}
.portfolio-desc .icon{
    font-size: 2rem;
    margin-top: 7px;
    cursor: pointer;
    color: #04c4c4;
}
.portfolio-desc .icon a:visited{
    color: #b344d4;
}
.margin-right{
    margin-right: 150px;
}
/* End Portfolio */

/* Contact Form */
.contact{

}
form{
    margin: 0 auto;
    width: 70%;
}
form label{
    color: #b344d4;
    font-weight: bold;
    letter-spacing: 1px;

}
form input,
form textarea{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
input[type="submit"]{
    width: initial;
    background-color: #b344d4;
    padding: 10px 20px;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover{
    background-color: #04c4c4;
}
/* Contact Form End */

.copyright{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2.5rem 0 1rem 0;
}
#copyright{
    font-family: 'Cookie', cursive;
    font-size: 1.5rem;
}


/* Media Queries */
@media screen and (max-width: 993px){
    .name h1{
        font-size: 5rem;
    }
}
@media screen and (max-width:955px){
    .portfolio-item{
        display: flex;
        flex-direction: column;
    }
    .margin-right{
        margin: 0;
    }
    .item-1{
        order: 1;
    }
    .item-2{
        order: 2;
    }
    .item-3{
        order: 1;
    }
    .item-4{
        order: 2;
    }
    .item-5{
        order: 1;
    }
    .item-6{
        order: 2;
    }
    .item-7{
        order: 1;
    }
    .item-8{
        order: 2;
    }
}
@media screen and (max-width: 740px){
    .hero{
        top: 30%;
    }
    .name h1{
        font-size: 4.5rem;
    }
    section{
        margin: 0;
    }
    section.about{
        margin-top: -60%;
    }
    .section-heading{
        margin: 5.5rem 0 3rem 0;
    }
    .section-heading h1{
        font-size: 3rem;
    }
    .section-heading h6{
        font-size: 1.5rem;
    }
    .contact .container{
        width: 100%;
    }
    
}
@media screen and (max-width: 720px){
    section{
        margin: 0;
    }
    section.about{
        margin-top: -75%;
    }
}
@media screen and (max-width: 675px){
    .name h1{
        font-size: 4rem;
    }
    section{
        margin: 0;
    }
    section.about{
        margin-top: -80%;
    }
}

@media screen and (max-width: 615px){
    .hero{
        top: 20%;
    }
    .name h1{
        font-size: 4rem;
    }
    section{
        margin: 0;
    }
    section.about{
        margin-top: -100%;
    }
    .section-heading{
        text-align: center;
        line-height: 20px;
        margin: 6rem 0 2rem 0;
    }
    .section-heading h1{
        font-size: 2rem;
        color: #b344d4; 
    }
    .section-heading h6{
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        text-shadow: 5px 5px 5px black,
                    5px 5px 10px black;
    }
}
@media screen and (max-width: 611px){
    .name h1{
        font-size: 3.8rem;
    }
}
@media screen and (max-width: 600px){
        section{
            margin: 0;
        }
        section.about{
            margin-top: -110%;
        }
}
@media screen and (max-width: 560px){
        section{
            margin: 0;
        }
        section.about{
            margin-top: -120%;
        }
}
/* iphone 6/7/8 plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    section{
        margin: 0;
    }
    section.about{
        margin-top: -120%;
    }
    .container{
        width: 80%;
    }
    .nav ul{
        align-items: center;
    }
    .nav ul li a{
        background: linear-gradient(to right, #b344d4, #04c4c4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        text-shadow: none;
    }
}
/* iphone 6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){
        section{
            margin: 0;
        }
        section.about{
            margin-top: -120%;
        }
        .container{
            width: 80%;
        }
        .nav ul{
            align-items: center;
        }
        .nav ul li a{
            background: linear-gradient(to right, #b344d4, #04c4c4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline;
            text-shadow: none;
        }
}
/* iphone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
        section{
            margin: 0;
        }
        section.about{
            margin-top: -150%;
        }
        .container{
            width: 80%;
        }
        .nav ul{
            align-items: center;
        }
        .nav ul li a{
            background: linear-gradient(to right, #b344d4, #04c4c4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline;
            text-shadow: none;
        }
}

